#__next {
  height: 100%;
}

.maxHeight {
  height: 100%;
  min-height: 100%;
}

.footer {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
  color: rgb(31, 31, 31, 0.85);
  font-weight: bolder;
}

.xlFont {
  font-size: 5rem;
}
